h1
    {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff ;
    }

h3
{
    
    font-family: 'Lato', sans-serif;
font-weight: 600;
color: #ffffff ;
}

    h6, h2, h4, h5
    {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff ;
    }